[submodule "nvim_config"]
	path = nvim_config
	url = https://github.com/arealsquirrel/nvim_config.git
[submodule "kitty/base16-kitty"]
	path = kitty/base16-kitty
	url = https://github.com/kdrag0n/base16-kitty.git
